<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Profit Calculator</title>
</head>
<body>
    <h1>Crypto Profit Calculator</h1>
    <form method="POST">
        <label for="buy_price">Buy Price per Coin:</label>
        <input type="text" id="buy_price" name="buy_price" required>
        <br>
        <label for="sell_price">Sell Price per Coin:</label>
        <input type="text" id="sell_price" name="sell_price" required>
        <br>
        <label for="amount">Amount of Cryptocurrency:</label>
        <input type="text" id="amount" name="amount" required>
        <br>
        <button type="submit">Calculate</button>
    </form>
    {% if profit is not none %}
    <p>Profit: ${{ profit }}</p>
    {% endif %}
</body>
</html>
